services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./audios:/app/audios
      - whisperx_cache:/root/.cache

volumes:
  whisperx_cache: